<h1><%= @kitten.name %> the cat</h1>
<p>
  <strong>Age: </strong><%= @kitten.age %><br>
  <strong>Softeness: </strong><%= @kitten.softness %><br>
  <strong>Cuteness: </strong><%= @kitten.cuteness%><br>
</p>

<%= button_to "Edit #{@kitten.name}", edit_kitten_path, method: :get %>
<%= link_to "Back to Page", root_path %>
